/* .{
    justify-content-center
    align-items-center
} */

.register-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.explore-info{
    background-color: #F4FAFD;
}
.star{
    width: auto;
    height: 100%;
}
.feedback{
    width: 550px !important;
    height: auto;
    border: 2px solid rgb(172, 168, 168);
    padding: 10px;
    margin: 10px;
    
}
.type-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}